body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  height: 50px
}

header nav {
  display: inline-block;
  margin-right: 30px;
}

nav a {
  padding-left: 15px;
  color: seashell;
}

.main {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url(../images/img-mission-background.jpg);
}

.main-content {
  display: flex;
  justify-content: center;
  width: 1200px;
  align-items: center;
  background-color: black;
  opacity: 0.9;
  flex-direction: column;
}

.tea-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.tea-month-header {
  display: flex;
  justify-content: center;
  width: 1000px;
  align-items: center;
  flex-direction: column;
}

.month-content {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  align-items: center;
  flex-wrap: wrap;
}

.month-boxes {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  align-items: center;
  flex-wrap: wrap;
}

.month-photo img {
  height: 200px;
  width: 300px;
}

p {
  text-align: center;
}
